n8n/stmary-weekly-pewsheet-publish.json
{
  "name": "St Mary — Weekly Pew Sheet Publish",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11 * * 6"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Saturday 11:00 London",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "notes": "Every Saturday 11:00. Set workflow timezone to Europe/London in workflow settings."
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "operation": "search",
        "searchMethod": "name",
        "queryString": "pewsheet",
        "returnAll": true,
        "options": {
          "fields": ["id", "name", "mimeType", "modifiedTime"]
        }
      },
      "id": "list-drive-files",
      "name": "List Drive Files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [220, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CONFIGURE_IN_N8N",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ALLOWED = [\n  'application/pdf',\n  'image/jpeg',\n  'image/png',\n  'image/jpg'\n];\n\nconst items = $input.all();\nconst files = items\n  .map(i => i.json)\n  .filter(f => f.id && ALLOWED.includes(f.mimeType))\n  .sort((a, b) => new Date(b.modifiedTime) - new Date(a.modifiedTime));\n\nif (files.length === 0) {\n  return [{ json: { error: 'no_valid_file', message: 'No PDF or image found among Drive search results' } }];\n}\n\nconst file = files[0];\nconst ext = file.mimeType === 'application/pdf' ? 'pdf' : (file.name.split('.').pop() || 'jpg').toLowerCase();\nconst fileType = file.mimeType === 'application/pdf' ? 'pdf' : 'image';\n\nreturn [{\n  json: {\n    drive_file_id: file.id,\n    file_name: file.name,\n    mime_type: file.mimeType,\n    modified_time: file.modifiedTime,\n    storage_path: `current/pewsheet.${ext}`,\n    file_type: fileType,\n    ext\n  }\n}];"
      },
      "id": "pick-newest-file",
      "name": "Pick Newest Valid File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-file",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid-file",
      "name": "Valid File Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/weekly_content?select=drive_file_id&order=published_at.desc&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-current-record",
      "name": "Get Current DB Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE_IN_N8N",
          "name": "Supabase service role"
        }
      },
      "notes": "Verify after run: Input tab must show binary data from Download. Output should include Key: weekly-content/current/pewsheet.{ext}. Headers: apikey + Authorization Bearer (service role). Run full workflow — not from Build DB Payload alone."
    },
    {
      "parameters": {
        "jsCode": "const file = $('Pick Newest Valid File').first().json;\nconst rows = $input.first().json;\nconst current = Array.isArray(rows) ? rows[0] : rows;\n\nif (current?.drive_file_id === file.drive_file_id) {\n  return [{ json: { skip: true, reason: 'already_published', drive_file_id: file.drive_file_id } }];\n}\n\nreturn [{ json: { ...file, skip: false } }];"
      },
      "id": "check-already-published",
      "name": "Skip If Already Published",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-should-publish",
      "name": "Should Publish?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.drive_file_id }}"
        },
        "options": {}
      },
      "id": "download-from-drive",
      "name": "Download From Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1540, 100],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CONFIGURE_IN_N8N",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/storage/v1/object/weekly-content/{{ $('Skip If Already Published').first().json.storage_path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $('Skip If Already Published').first().json.mime_type }}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "upload-to-supabase",
      "name": "Upload To Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE_IN_N8N",
          "name": "Supabase service role"
        }
      },
      "notes": "Verify: Download binary on Input tab. Output Key = weekly-content/current/pewsheet.{ext}. Headers: apikey + Authorization Bearer. Run full workflow, not from Build DB Payload alone."
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Skip If Already Published').first().json;\nconst publicUrl = `${$vars.SUPABASE_URL}/storage/v1/object/public/weekly-content/${meta.storage_path}`;\n\n// Derive week label from filename pewsheet-YYYY-MM-DD or use published date\nlet weekLabel = null;\nconst match = meta.file_name.match(/pewsheet-(\\d{4})-(\\d{2})-(\\d{2})/i);\nif (match) {\n  const d = new Date(`${match[1]}-${match[2]}-${match[3]}T12:00:00`);\n  weekLabel = `Sunday ${d.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' })}`;\n}\n\nreturn [{\n  json: {\n    file_url: publicUrl,\n    file_type: meta.file_type,\n    file_name: meta.file_name,\n    drive_file_id: meta.drive_file_id,\n    week_label: weekLabel,\n    published_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "build-db-payload",
      "name": "Build DB Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/weekly_content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "insert-db-row",
      "name": "Insert DB Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE_IN_N8N",
          "name": "Supabase service role"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $vars.ADMIN_EMAIL }}",
        "toEmail": "={{ $vars.ADMIN_EMAIL }}",
        "subject": "St Mary's — Pew sheet published successfully",
        "emailFormat": "text",
        "text": "=The weekly pew sheet was published at {{ $now.format('yyyy-MM-dd HH:mm') }}.\n\nFile: {{ $('Build DB Payload').first().json.file_name }}\nURL: {{ $('Build DB Payload').first().json.file_url }}\n\nView on site: Community → Pew Sheets",
        "options": {
          "ccEmail": "={{ $vars.ADMIN_EMAIL_CC || '' }}"
        }
      },
      "id": "email-success",
      "name": "Email Success",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2420, 100],
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_IN_N8N",
          "name": "SMTP account"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Requires SMTP credential + ADMIN_EMAIL variable. Failures do not block publish."
    },
    {
      "parameters": {
        "fromEmail": "={{ $vars.ADMIN_EMAIL }}",
        "toEmail": "={{ $vars.ADMIN_EMAIL }}",
        "subject": "St Mary's — Pew sheet publish FAILED",
        "emailFormat": "text",
        "text": "=The Saturday pew sheet automation failed.\n\nReason: {{ $json.message || $json.error || 'Unknown error' }}\n\nTime: {{ $now.format('yyyy-MM-dd HH:mm') }}\n\nAction: Upload a valid PDF or image to Google Drive (filename must include pewsheet) and re-run the workflow manually.\n\nPrevious week's content remains live on the website.",
        "options": {
          "ccEmail": "={{ $vars.ADMIN_EMAIL_CC || '' }}"
        }
      },
      "id": "email-error-no-file",
      "name": "Email Error — No File",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [880, 480],
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_IN_N8N",
          "name": "SMTP account"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Requires SMTP credential + ADMIN_EMAIL variable."
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Test Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 120],
      "notes": "Use for testing before enabling schedule"
    }
  ],
  "connections": {
    "Saturday 11:00 London": {
      "main": [[{ "node": "List Drive Files", "type": "main", "index": 0 }]]
    },
    "Manual Test Trigger": {
      "main": [[{ "node": "List Drive Files", "type": "main", "index": 0 }]]
    },
    "List Drive Files": {
      "main": [[{ "node": "Pick Newest Valid File", "type": "main", "index": 0 }]]
    },
    "Pick Newest Valid File": {
      "main": [[{ "node": "Valid File Found?", "type": "main", "index": 0 }]]
    },
    "Valid File Found?": {
      "main": [
        [{ "node": "Get Current DB Record", "type": "main", "index": 0 }],
        [{ "node": "Email Error — No File", "type": "main", "index": 0 }]
      ]
    },
    "Get Current DB Record": {
      "main": [[{ "node": "Skip If Already Published", "type": "main", "index": 0 }]]
    },
    "Skip If Already Published": {
      "main": [[{ "node": "Should Publish?", "type": "main", "index": 0 }]]
    },
    "Should Publish?": {
      "main": [[{ "node": "Download From Drive", "type": "main", "index": 0 }]]
    },
    "Download From Drive": {
      "main": [[{ "node": "Upload To Supabase Storage", "type": "main", "index": 0 }]]
    },
    "Upload To Supabase Storage": {
      "main": [[{ "node": "Build DB Payload", "type": "main", "index": 0 }]]
    },
    "Build DB Payload": {
      "main": [[{ "node": "Insert DB Row", "type": "main", "index": 0 }]]
    },
    "Insert DB Row": {
      "main": [[{ "node": "Email Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "timezone": "Europe/London",
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
